[submodule "fracgm/src/mcis/pmc"]
	path = fracgm/src/mcis/pmc
	url = https://github.com/jingnanshi/pmc
[submodule "fracgm/src/mcis/eigen"]
	path = fracgm/src/mcis/eigen
	url = https://gitlab.com/libeigen/eigen.git
